/* Global Styles */
:root {
    --text-color-light: #000;
    --background-color-light: #fff;
    --text-color-dark: #fff;
    --background-color-dark: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.dark-mode {
    --background-color-light: var(--background-color-dark);
    --text-color-light: var(--text-color-dark);
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: var(--background-color-light);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px; 
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2, .card-content p, .card-content a, .card-content a:hover {
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
    color: var(--text-color-light);
    text-decoration: none;
}

.card-content p {
    font-size: 16px;
    line-height: 1.5;
}

.card-content a:hover {
    text-decoration: underline;
}

/* Theme Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

